$maincolor: rgb(255, 255, 255);

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $maincolor;
    color: black;
    display: flex;
    justify-content: center;
}

.App {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input {
    label {
        padding-left: 2px;
        display: block;
    }
}

$dimension: 25px;

.react-calendar__tile {
    position: relative;
    padding: 0;
    background: none !important;
    z-index: 0;

    .tile_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .tile {
        margin: 4px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $dimension;
        width: $dimension;
        border-radius: 50%;
    }

    &.react-calendar__tile--active {
        .tile {
            background-color: yellowgreen;
        }
    }

    &:hover {
        .tile {
            background-color: #0002;
        }
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        height: $dimension;
        width: 50%;
        transform: translate(0, -50%);
        background-color: rgba(153, 205, 50, 0.4);
        z-index: -1;
    }

    &.range {
        &::before {
            content: "";
            width: 100%;
        }
    }

    &.range_start {
        .tile {
            background-color: yellowgreen;
        }
        &::before {
            content: "";
            left: 50%;
        }
    }

    &.range_end {
        .tile {
            background-color: yellowgreen;
        }
        &::before {
            content: "";
        }
    }

    &.range_start.range_end::before {
        content: none;
    }

    &.react-calendar__tile--active {
        .tile {
            background-color: rgb(155, 215, 31);
            box-shadow: 0px 0px 5px 2px #4803;
        }
    }

    abbr {
        display: none;
    }
}

.range_display {
    background-color: #ddd;
    border-radius: 12px;
    padding: 12px;

    .range {
        display: flex;
        align-items: center;
        padding: 4px;
        border-bottom: 1px solid #aaa;
        .date {
            width: 90px;
            cursor: pointer;
            padding: 6px;
            border-radius: 8px;
            span {
                display: block;
                font-size: 0.7em;
                font-weight: bold;
            }
            &.selected {
                background-color: white;
                box-shadow: 0px 0px 5px 2px #0002;
                span {
                    color: yellowgreen;
                }
            }
        }
        .cancel {
            transition: all ease-in-out 0.2s;
            cursor: pointer;
            height: 18px;
            width: 18px;
            margin-left: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #0002;
            &:hover {
                background-color: #0004;
            }
        }
        &:last-child {
            border: none;
        }
    }
}
